{{>layout/header}}
안녕하셍
<h1>News 서비스</h1>

<div class="col-md-12">
	<div class="row">
		<a class="col-md-6">

			{{#userName}}
				<a href="/news/save" role="button" class="btn btn-primary"> 뉴스 등록 </a>
			{{/userName}}

			{{#userName}}
				Logged in as: <span id="user">{{userName}}</span>
					<a href="/logout" class="btn btn-info active" role="button"/>Logout</a>
			{{/userName}}

			{{^userName}}
				<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
			{{/userName}}
	</div>
</div>


<div>
	<br>
	<!-- 뉴스 목록 -->
	<table class="table table-horizontal table-bordered">
		<thead class="thead-strong">
		<tr>
			<th>게시글번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>최종수정일</th>
			<th>태그</th>
		</tr>

		</thead>

		<tbody id="tbody">
		{{#news}}
			<tr>
				<td>{{newsId}}</td>
				<td><a href="/news/read/{{newsId}}">{{newsTitle}}</a></td>
				<td>{{memberEmail}}</td>
				<td>{{modifiedAt}}</td>

				<td>
				{{#newsTags}}
					<span type="text" name="tags">{{.}} </span>
				{{/newsTags}}
				</td>
			</tr>

		{{/news}}
		</tbody>
	</table>
</div>

{{>layout/footer}}
