{{>layout/header}}

<h1>News 상세페이지</h1>

<div class="col-md-12">
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<label for="title">글 번호</label>
				<input type="text" class="form-control" id="id" value="{{news.newsId}}" readonly>
			</div>
			<div class="form-group">
				<label for="title">제목</label>
				<input type="text" class="form-control" id="title" value="{{news.newsTitle}}" readonly>
			</div>
			<div class="form-group">
				<label for="author"> 작성자 </label>
				<input type="text" class="form-control" id="author" value="{{news.memberEmail}}" readonly>
			</div>
			<div class="form-group">
				<label for="content"> 내용 </label>
				<textarea class="form-control" id="content" readonly>{{news.newsContents}}</textarea>
			</div>
			<div class="form-group">

				<label for="content">태그</label>

				<!-- 배열 요소를 반복하여 출력 -->
				{{#news.newsTags}}
					<input type="text" class="form-control" name="tags" value={{.}} readonly>
				{{/news.newsTags}}
			</div>



			<div class="form-group">
				<label for="content">첨부 이미지</label>
				<div id="news-images">
					{{#news.newsImages}}
						<img src="http://localhost:8080{{url}}" width="500" height="300">
					{{/news.newsImages}}
				</div>

			</div>
		</form>
		<a href="/" role="button" class="btn btn-secondary">취소</a>

		{{#register}}
			<a href="/news/update/{{news.newsId}}" role="button" class="btn btn-secondary">수정하기</a>
		{{/register}}

	</div>
</div>



{{>layout/footer}}